<form class="search-filters js-search-filters">
  <h3>Search Filters</h3>
  <ul class="search-filters-chip-list unstyled-list js-search-filters-chip-list">
    {{#each (searchFiltersSections type)}}
      <li>
        <button class="search-filters-chip js-search-filters-chip-{{sectionKey}}">
          {{sectionLabel}}
          {{> icon-dropdown-arrow}}
        </button>
        <div class="filter-list-pop-over js-filter-list-pop-over">
          {{#each fieldNameKeys}}
            <h4>{{this}}</h4>
            <ul class="unstyled-list keys-list js-keys-list">
              {{#each (getOptionsForFilterKey this)}}
                <li>
                  <input
                    type="checkbox"
                    data-field-name="{{../this}}"
                    name="{{key}}"
                    id="{{../this}}[{{key}}]"
                    >
                  <label for="{{../this}}[{{key}}]">{{value}}</label>
                </li>
              {{/each}}
            </ul>
          {{/each}}
        </div>
      </li>
    {{/each}}
  </ul>
  <button class="button button-red" type="submit">
    {{> icon-filter }} Filter Search
  </button>
</form>
